.search-bar {
    position: fixed;
    top: 20px;
    display: flex;
    align-items: center;
    background: rgba(27, 27, 27, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 30px;
    padding: 10px 25px;
    z-index: 1000;
    transition: all 0.3s ease;
}
.search-icon {
    color: #aaa;
    margin-right: 12px;
    font-size: 18px;
}

.search-input {
    flex: 1;
    background: transparent !important;
    border: none !important;
    outline: none;
    color: #fff;
    font-size: 14px;
    caret-color: #ff69b4;
    box-shadow: none !important;
    appearance: none;
    
}

.search-bar:hover {
    box-shadow: 0 0 8px rgba(255, 105, 180, 0.6);
}

.search-input:focus {
    border-bottom: 1px solid #ff69b4;
}